{% extends 'home.html' %}

{% block content %}

<h4>Your bookings ...</h4>


{% for booking in bookings reversed %}

{% if booking.user == request.user %}

<hr>


{% if booking.venue and booking.vendor %}
<h1>Full package block </h1>

<h2>booking.venue : => </h2>
<h3>{{booking.venue.name}}</h3>
<div>{{booking.venue.location}}</div>
<div>{{booking.venue.city}} {{booking.venue.state}}</div>
<h2>Vendor information : => </h2>
<h3>{{booking.vendor.first_name}} {{booking.vendor.last_name}}</h3>
<div>{{booking.vendor.userprofile.contact_info}}</div>
<div>{{booking.vendor.userprofile.company_name}} {{booking.vendor.userprofile.website}}</div>
<div>{{booking.date}} {{booking.time}}</div>


<form action="/delete-book/" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{booking.id}}" name="booking_id">
     <input type="submit" value="Cancle booking">
</form>

<hr>

{% elif booking.venue %}

<h2>Venue information: => </h2>
<h3>{{booking.venue.name}}</h3>
<div>{{booking.venue.location}}</div>
<div>{{booking.venue.city}} {{booking.venue.state}}</div>
<div>{{booking.date}} {{booking.time}}</div>

<form action="/delete-book/" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{booking.id}}" name="booking_id">
    <input type="submit" value="Cancle booking">
</form>

<hr>

{% else %}
<h2>booking.vendor : => </h2>
<h3>{{booking.vendor.first_name}} {{booking.vendor.last_name}}</h3>
<div>{{booking.vendor.userprofile.contact_info}}</div>
<div>{{booking.vendor.userprofile.company_name}} {{booking.vendor.userprofile.website}}</div>
<div>{{booking.date}} {{booking.time}}</div>

<form action="/delete-book/" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{booking.id}}" name="booking_id">
    <input type="submit" value="Cancle booking">
</form>

{% endif %}

{% endif %}

{% endfor %}

{% endblock %}