{% load static %}
<title>Event Hub</title>
<link rel="stylesheet" type="text/css" href="{% static 'customer/css/booked.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">
<div class="navbar-div">
{% include 'navbar.html' %}
</div>


<a href="{{request.META.HTTP_REFERER}}" class="go-back">            
    <img src="/static/images/back.png" alt="" width="40px"  >
</a>

{% if bookings %}
<div class="grid-div">
    
    <div>

    {% for booking in bookings reversed %}

        {% if booking.user == request.user %}


        {% if booking.venue and booking.vendor %}
<div class="full-package-div">


        <a href="/venue-info/{{booking.venue.id}}/" class="venue-name">
            <h3>{{booking.venue.name}}</h3>
        </a>
        <div>{{booking.venue.location}}</div>
        <div>{{booking.venue.city}} {{booking.venue.state}}</div>        
        <span style="font-size: 15px;"><b>({{booking.date}} {{booking.time}})</b></span>

        <br>
        {% if booking.vendor.userprofile.profile_picture %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">            
            <img src="{{booking.vendor.userprofile.profile_picture.url}}" alt="" height="40" width="40" class="profile-picture">
        </a>

        {% else %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="/static/images/No profile.jpeg" alt="" height="40" width="40" class="profile-picture">
        </a>

        {% endif %}

        <a href="/event-planner-info/{{booking.vendor.id}}" class="vendor-name">
            {{booking.vendor.first_name}} {{booking.vendor.last_name}}
        </a>

        {% if booking.vendor.userprofile.contact_info %}
        <div>{{booking.vendor.userprofile.contact_info}}</div>        
        {% endif %}
        <div>
            {% if booking.vendor.userprofile.company_name %}
                {{booking.vendor.userprofile.company_name}} 
            {% endif %}        
            {% if booking.vendor.userprofile.website %}
                {{booking.vendor.userprofile.website}}
            {% endif %}
        </div> 

        <br><br>

        <form action="/delete-book/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{booking.id}}" name="booking_id">
            <input type="submit" value="Cancle booking" class="cancle-booking">
        </form>
</div>

        {% elif booking.venue %}
<div class="venue-div">        

        <a href="/venue-info/{{booking.venue.id}}/" class="venue-name">
            <h3>{{booking.venue.name}}</h3>
        </a>
        <div>{{booking.venue.location}}</div>
        <div>{{booking.venue.city}} {{booking.venue.state}}</div>
        <span style="font-size: 15px;"><b>({{booking.date}} {{booking.time}})</b></span>
        <br><br>
        <form action="/delete-book/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{booking.id}}" name="booking_id">
            <input type="submit" value="Cancle booking" class="cancle-request">            
        </form>

</div>
        {% else %}
<div class="vendor-div">
        <br>
        {% if booking.vendor.userprofile.profile_picture %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">            
            <img src="{{booking.vendor.userprofile.profile_picture.url}}" alt="" height="40" width="40" class="profile-picture">
        </a>

        {% else %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="/static/images/No profile.jpeg" alt="" height="40" width="40" class="profile-picture">
        </a>
        {% endif %}

        <a href="/event-planner-info/{{booking.vendor.id}}" class="vendor-name">
            {{booking.vendor.first_name}} {{booking.vendor.last_name}}
        </a>

        <div>{{booking.vendor.userprofile.contact_info}}</div>
        <div>{{booking.vendor.userprofile.company_name}} {{booking.vendor.userprofile.website}}</div>
        <div>
            <h4 style="height: 6px;">Location and time:</h4>
            {{booking.location}} <br><span style="font-size: 15px;">{{booking.date}} {{booking.time}}</span>
        </div>
        <br>

        <form action="/delete-book/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{booking.id}}" name="booking_id">
            <input type="submit" value="Cancle request" class="cancle-booking">
        </form>
</div>        
        {% endif %}

        {% endif %}
    
    {% endfor %}

    </div>



    <div class="accepted-container">

        {% for booking in bookings reversed %}
    <div class="accepted-div">
        {% if booking.user == request.user and booking.booking_accepted is True %}


        {% if booking.vendor.userprofile.profile_picture %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="{{booking.vendor.userprofile.profile_picture.url}}" alt="" height="40" width="40" class="profile-picture">
        </a>

        {% else %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="/static/images/No profile.jpeg" alt="" height="40" width="40" class="profile-picture">
        </a>
        
        {% endif %}
        
        <a href="/event-planner-info/{{booking.vendor.id}}" class="vendor-name">
            {{booking.vendor.first_name}} {{booking.vendor.last_name}}
        </a>

        <div>
            <h4 style="height: 6px;">Location and time:</h4>
            {{booking.location}} <br><span style="font-size: 15px;">{{booking.date}} {{booking.time}}</span>
        </div>
        <p class="accepted">Accepted</p>
        
        {% endif %}
    </div>
        {% endfor %}
    </div>






    <div class="rejected-container">

        {% for booking in bookings reversed %}
    <div class="rejected-div">
        {% if booking.user == request.user and booking.booking_accepted is False %}


        {% if booking.vendor.userprofile.profile_picture %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="{{booking.vendor.userprofile.profile_picture.url}}" alt="" height="40" width="40" class="profile-picture"> 
        </a>

        {% else %}
        <a href="/event-planner-info/{{booking.vendor.id}}" class="anchor-profile">
            <img src="/static/images/No profile.jpeg" alt="" height="40" width="40" class="profile-picture">
        </a>

        {% endif %}

        <a href="/event-planner-info/{{booking.vendor.id}}" class="vendor-name">{{booking.vendor.first_name}} {{booking.vendor.last_name}}</a>

        <div>
            <h4 style="height: 6px;">Location and time:</h4>
            {{booking.location}} <br><span style="font-size: 15px;">{{booking.date}} {{booking.time}}</span>
        </div>

        <p class="rejected">Rejected</p>

        {% endif %}
    </div>
        {% endfor %}

    </div>

</div>

{% else %}
    <p class="no-booking">You don't have any booking right now..</p>
{% endif %}

<script src="{% static 'js/booked.js' %}"></script>
