{% extends 'customer/home.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'customer/css/booking.css' %}">


<p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>

<h3>This is booking page </h3>


<div class="grid-div">
    
    {% if venues %}

    <div>
        <h1>Venues</h1>

        <div class="filter-div-event">

            <div class="filter">
                <form action="" method="GET">
                    <input type="text" placeholder="Search city" name="venue-city">
                </form>
                <a href="/book/{{pk}}/">All</a>

                {% for venue in venues %}
                {% if not min_price %}
                <a href="/book/{{pk}}/?venue-city={{venue.city}}"
                    class="venue-{{venue.city}} venue-city">{{venue.city}}</a>

                {% else %}
                <a href="/book/{{pk}}/?min_price={{min_price}}&max_price={{max_price}}&venue-city={{venue.city}}"
                    class="venue-{{venue.city}} venue-city">{{venue.city}}</a>
                {% endif %}
                {% endfor %}

            </div>


            <div class="filter">
                <a href="/book/{{pk}}/">All</a>

                {% if not venue_city %}
                <div>
                    <a href="/book/{{pk}}/?min_price=0&max_price=9999">Below Rs 10,000</a>
                    <a href="/book/{{pk}}/?min_price=10000&max_price=19999">Rs 10,000 to Rs 20,000</a>
                    <a href="/book/{{pk}}/?min_price=20000&max_price=29999">Rs 20,000 to Rs 30,000</a>
                    <a href="/book/{{pk}}/?min_price=30000&max_price=39999">Rs 30,000 to Rs 40,000</a>
                    <a href="/book/{{pk}}/?min_price=40000&max_price=49999">Rs 40,000 to Rs 50,000</a>
                    <a href="/book/{{pk}}/?min_price=50000&max_price=10000000000">Above Rs 50,000</a>
                </div>
                {% else %}
                <a href="/book/{{pk}}/?min_price=0&max_price=9999&venue-city={{venue_city}}">Below Rs 10,000</a>
                <a href="/book/{{pk}}/?min_price=10000&max_price=19999&venue-city={{venue_city}}">Rs 10,000 to Rs
                    20,000</a>
                <a href="/book/{{pk}}/?min_price=20000&max_price=29999&venue-city={{venue_city}}">Rs 20,000 to Rs
                    30,000</a>
                <a href="/book/{{pk}}/?min_price=30000&max_price=39999&venue-city={{venue_city}}">Rs 30,000 to Rs
                    40,000</a>
                <a href="/book/{{pk}}/?min_price=40000&max_price=49999&venue-city={{venue_city}}">Rs 40,000 to Rs
                    50,000</a>
                <a href="/book/{{pk}}/?min_price=50000&max_price=10000000000&venue-city={{venue_city}}">Above Rs
                    50,000</a>
                {% endif %}

            </div>

        </div>


        {% for venue in venues %}
        <div class="event-info-div">
            <a href="/venue-info/{{venue.id}}/">
                <h4>{{venue.name}}</h4>
            </a>
            <div>{{venue.location}}</div>
            <div>{{venue.city}} {{venue.state}}</div>
            <br>
            <div>Maximum capacity: {{venue.max_capacity}}</div>
            <div>Minimum price : {{venue.min_price}}</div>
            <h5>
                {% if venue.vendors.all %}
                <div> Book full packege (Venue + Vendor)<a href="/full-package/{{venue.id}}/">View</a></div>
                {% endif %}
            </h5>
            {% if request.user.is_authenticated %}

            {% if request.user.userprofile.user_type == 'is_customer' %}

            <form action="/create-book/" method="POST">
                {% csrf_token %}
                <input type="date" name="date" placeholder="date" required>
                <input type="time" name="time" placeholder="time">
                <input type="hidden" value="{{venue.id}}" name="venue_id">
                <button type="submit">Book now</button>

                {% endif %}

                {% else %}
                <button class="un-auth-book"><a href="/login/">Book now</a></button>
                {% endif %}

        </div>
        {% endfor %}


    </div>

    {% else %}
    <div>
        
        <p>Sorry no venues avaialble for the given location or price</p>

        <br><br><br>

        {% if venues_on_category %}

        <a href="/book/{{pk}}/">View available options</a>

        {% endif %}

    </div>
    {% endif %}


    {% if events %}

    <div>
        <h1>Vendors</h1>

        <div class="filter-div-vendor">
            <div class="filter">
                <form action="" method="GET">
                    <input type="text" placeholder="Search city" name="vendor-city">
                </form>
                <a href="/book/{{pk}}/">All</a>
                {% for event in events %}
                <a href="/book/{{pk}}/?vendor-city={{event.event_planner.userprofile.city}}"
                    class="vendor-{{event.event_planner.userprofile.city}} vendor-city">{{event.event_planner.userprofile.city}}
                </a>
                {% endfor %}
            </div>
        </div>


            {% for event in events %}
            <div class="event-info-div">
                {% if event.event_planner.userprofile.profile_picture %}
                <a href="/event-planner-info/{{event.event_planner.id}}/">
                    <div> <img src="{{event.event_planner.userprofile.profile_picture.url}}" alt="" width="40" height="40"></div>
                </a>    
                <a href="/event-planner-info/{{event.event_planner.id}}/">
                    <div><h4>{{event.event_planner.first_name}} {{event.event_planner.last_name}}</h4></div>
                </a>
                {% else %}

                <a href="/event-planner-info/{{event.event_planner.id}}/">
                    <div> <img src="/static/images/No profile.jpeg" alt="" width="40" height="40"></div>
                </a>
                <a href="/event-planner-info/{{event.event_planner.id}}/">
                        <div><h4>{{event.event_planner.first_name}} {{event.event_planner.last_name}}</h4></div>
                </a>

                
                {% endif %}

                <div>
                    <h5>{{event.name}}</h5>
                </div>
                <div>
                    {{event.event_planner.userprofile.location}}
                </div>
                <div>
                    {{event.event_planner.userprofile.city}} {{event.event_planner.userprofile.state}}
                </div>
                <br>
                <div>{{event.description}}</div>
                <br>
                    {% if request.user.is_authenticated %}
                        {% if request.user.userprofile.user_type == 'is_customer' %}
                        <form action="/create-book/" method="POST">
                            {% csrf_token %}
                            <div><b>Select your location :</b> <input type="text" name="location" placeholder="location" required></div>
                            <br>
                            <input type="date" name="date" placeholder="date" required>
                            <input type="time" name="time" placeholder="time">
                            <input type="hidden" value="{{event.event_planner.id}}" name="vendor_id">
                            <button type="submit">Request booking</button>
                        </form>
                        {% endif %}
                    {% else %}
                    <button class="un-auth-book"><a href="/login/">Request booking</a></button>
                    {% endif %}
            </div>
            {% endfor %}

    </div>

    {% else %}

    <div>
        
        <p>Sorry no vendors avaialble for the given location</p>

        <br><br><br>

        {% if events_on_category %}
        <a href="/book/{{pk}}/">View available options</a>
        {% endif %}
    </div>

    {% endif %}

</div>


<script src="{% static 'js/booking.js' %}"></script>


{% endblock %}