{% extends 'home.html' %}

{% block content %}

<style>
    .event-info-div {
        border: 2px solid #000;
        padding: 10px;
    }

    .category-div {
        background-color: lightgray;
        display: inline-block;

    }

    .grid-div {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
</style>

<h3>This is booking page </h3>

<div class="grid-div">

    <div>
        <h1>Venues</h1>
        {% for venue in venues %}
        <div class="event-info-div">
            <h4>{{venue.name}}</h4>
            <div>{{venue.location}}</div>
            <div>{{venue.city}} {{venue.state}}</div>
            <div>Minimum price : {{venue.min_price}}</div>
            <h5>
                <div> Book full packege (Venue + Vendor)<a href="/full-package/{{venue.id}}/">View</a></div>
            </h5>
            {% if request.user.is_authenticated %}

            {% if request.user.userprofile.user_type == 'is_customer' %}

            <form action="/create-book/" method="POST">
                {% csrf_token %}
                <input type="date" name="date" placeholder="date" required>
                <input type="time" name="time" placeholder="time">
            <input type="hidden" value="{{venue.id}}" name="venue_id">
            <button type="submit">Book now</button>

            {% endif %}

            {% else %}
            <button class="un-auth-book"><a href="/login-C/">Book now</a></button>
            {% endif %}

        </div>

        {% endfor %}

    </div>

    <div>
        <h1>Vendors</h1>
        {% for event in events %}
        <div class="event-info-div">
            <div class="category-div">
                <h5>{{event.category}}</h5>
            </div>
            <h4>{{event.event_planner.first_name}} {{event.event_planner.last_name}} (@{{event.event_planner}})</h4>
            <div><a href="/event-planner-info/{{event.event_planner.id}}/">View profile</a></div>
            <div>
                <h5>{{event.name}}</h5>
            </div>
            <div>{{event.description}}</div>
            <br>

            {% if request.user.is_authenticated %}

            {% if request.user.userprofile.user_type == 'is_customer' %}

            <form action="/create-book/" method="POST">
                {% csrf_token %}
                <input type="date" name="date" placeholder="date" required>
                <input type="time" name="time" placeholder="time">
            <input type="hidden" value="{{event.event_planner.id}}" name="vendor_id">
            <button type="submit">Book now</button>

            </form>

            {% endif %}

            {% else %}
            <button class="un-auth-book"><a href="/login-C/">Book now</a></button>
            {% endif %}

        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}