{% extends 'home.html' %}


{% block content %}

This is full package page

<h4>{{venue.name}}</h4>
<div>{{venue.location}}</div>
<div>{{venue.city}} {{venue.state}}</div>
<br>
<br>
<br>

{% for vendor,vendor_profile in vender_data.items %}

<div>
    <h4>{{vendor.first_name}} {{vendor.last_name}} (@{{vendor.username}})</h4>
</div>
<div><a href="/event-planner-info/{{vendor.id}}/">View profile</a></div>
<div> Company : <a href="{{vendor_profile.website}}">{{vendor_profile.company_name}}</a> </div>
<div>Contact information :: {{vendor_profile.contact_info}}</div>
<div>Minimum price : {{venue.min_price}}</div>
{% if request.user.is_authenticated %}

{% if request.user.userprofile.user_type == 'is_customer' %}

<form action="/create-book/" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{venue.id}}" name="venue_id">
    <input type="hidden" value="{{vendor.id}}" name="vendor_id">
    <input type="date" name="date" placeholder="date" required>
    <input type="time" name="time" placeholder="time">
    <button type="submit">Book now</button>
</form>

{% endif %}

{% else %}
<button><a href="/login-C/">Book now</a></button>
{% endif %}
<hr>



{% endfor %}

{% endblock %}