{% load static %}
<title>Event Hub</title>
<link rel="stylesheet" type="text/css" href="{% static 'customer/css/full-package.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">


<div class="navbar-div">
    {% include 'navbar.html' %}
</div>
<a href="{{request.META.HTTP_REFERER}}" class="go-back">            
    <img src="/static/images/back.png" alt="" width="40px"  >
</a>

<div class="grid-div">

    <div class="venue-info-div">

        <a href="/venue-info/{{venue.id}}/" class="venue-name">{{venue.name}}</a>
        <br><br>
        <div>{{venue.location}}</div>
        <div>{{venue.city}} {{venue.state}}</div>
        <br>
        <br>
        <div><b>Pick date and time</b></div>
        <br>
        <form action="/save-date-time/{{venue.id}}/" id="date-form" method="POST">
            {% csrf_token %}
            <input type="date" name="date" placeholder="date" required>
            <input type="time" name="time" placeholder="time">
            <input type="submit" value="SET" class="set-button">
        </form>
        <br>
        {% if date and time %}
        <div><b>Date and time picked:</b></div>
       <br>

        <div>{{date}}  {{time}}</div>

        {% endif %}
    </div>




    <div class="vendor-info-div">

        {% for vendor,vendor_profile in vender_data.items %}
        <div class="vendor-info" > 
                <a href="/event-planner-info/{{vendor.id}}/" class="vendor-name">
                    <h4>{{vendor.first_name}} {{vendor.last_name}}</h4>
                </a>
                {% if vendor_profile.website %}
            <div> Company : <a href="{{vendor_profile.website}}">{{vendor_profile.company_name}}</a> </div>
                {% endif %}
                
            <div>Contact information :: {{vendor_profile.contact_info}}</div>
            <div>Minimum price : {{venue.min_price}}</div>
            {% if request.user.is_authenticated %}

            {% if request.user.userprofile.user_type == 'is_customer' %}

            <form action="/create-book/" method="POST" id="vendor-form">
                {% csrf_token %}
                <input type="hidden" value="{{venue.id}}" name="venue_id">
                <input type="hidden" value="{{vendor.id}}" name="vendor_id">
                <br>
                {% if date %}
                <button type="submit" class="book-now-button">Book now</button>
                {% endif %}
                
            </form>

            {% endif %}

            {% else %}
            <br>
            <button class="request-booking-button"><a href="/login/" class="request-booking-button-anchor">Request booking</a></button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'customer/js/full-package.js' %}"></script>

