{% extends 'home.html' %}


{% block content %}

This is full package page

<h4>{{venue.name}}</h4>
<div>{{venue.location}}</div>
<div>{{venue.city}} {{venue.state}}</div>
<br>
<br>
<br>

{% for vendor,vendor_profile in vender_data.items %}

<div>
    <h4>{{vendor.first_name}} {{vendor.last_name}} (@{{vendor.username}})</h4>
</div>
<div><a href="/event-planner-info/{{vendor.id}}/">View profile</a></div>
<div> Company : <a href="{{vendor_profile.website}}">{{vendor_profile.company_name}}</a> </div>
<div>Contact information :: {{vendor_profile.contact_info}}</div>
<div>Minimum price : {{venue.min_price}}</div>
{% if request.user.is_authenticated %}
<button><a href="/booked/{{venue.id}}/{{vendor.id}}">Book now</a></button>
{% else %}
<button><a href="/login-C/">Book now</a></button>
{% endif %}
<hr>



{% endfor %}

{% endblock %}