{% extends 'navbar.html' %}

{% block content %}

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'customer/css/home.css' %}">


<h3>This is home page</h3>

<form action="" method="GET">
    <input type="text" placeholder="Search event.." name="event">
</form>

{% if filter %}
<a href="/home-C/">All categories</a>
{% endif %}

<div class="grid-div">

{% for category in categories %}
   <div class="event-div">
    <a href="/book/{{category.id}}">{{category}} </a>

    
    <a href="/book/{{category.id}}"> <img class="photo" src="/static/images/{{category}}.jpeg" alt=""></a>


    <a href="/book/{{category.id}}">Explore</a>
</div>
{% endfor %}

</div>


<script src="{% static 'js/home.js' %}"></script>



{% endblock %}