{% extends 'navbar.html' %}

{% block content %}

{% load static %}



<style>

    .grid-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .event-div {
        border: 2px solid #000;
        padding: 10px;
    }

    .photo{
        width: 300px; 
        height: 200px;
        overflow: hidden;
    }
    .grid-div img {
    max-width: 100%; 
    max-height: 100%;
    display: block; 
    }
    
    </style>


<h3>This is home page</h3>

<form action="" method="GET">
    <input type="text" placeholder="Search event.." name="event">
</form>

{% if filter %}
<a href="/home-C/">All categories</a>
{% endif %}

<div class="grid-div">

{% for category in categories %}
   <div class="event-div">
    <a href="/book/{{category.id}}">{{category}} </a>
    <a href="/book/{{category.id}}"> <img class="photo" src="/static/images/{{category}}.jpeg" alt=""></a>
    <a href="/book/{{category.id}}">Explore</a>
</div>
{% endfor %}

</div>





{% endblock %}