<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    {% load static %}
    <title>Event Hub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'customer/css/home.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

</head>

<body>
    <div class="navbar-div">
        {% include 'navbar.html' %}
    </div>


    <div class="home-image">
        <img src="{% static 'images/events.png' %}" alt="" id="event-image" width="100%" height="400px">
    </div>


    <div class="home-div">

        <div class="slogan-search">            
            <p class="slogan-first"> "Transforming Dreams into Unforgettable Events"</p>
            <p class="slogan-second">"Book the Best with Us!"</p>
            <form action="" method="GET">
                <input type="text" placeholder="Search event.." name="event" class="search-event">
            </form>
            <a href="/home-C/" class="all-categories">All</a>
        </div>


        <div class="grid-div">

            {% for category in categories %}
            <div class="event-div">
                <a href="/book/{{category.id}}" class="category-name">{{category}} </a>
                <br><br>
                <a href="/book/{{category.id}}"> <img class="photo" src="/static/images/{{category}}.jpeg" alt="" id="category-photo"></a>

            </div>
            {% endfor %}

        </div>

        {% if not request.user.is_authenticated %}
        <script src="{% static 'customer/js/home-unauth.js' %}"></script>
        {% else %}
        <script src="{% static 'customer/js/home-auth.js' %}"></script>
        {% endif %}

    </div>

</body>

</html>