body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    
    }
.slogan-search {
    position: absolute;
    font-weight: bold;
    color: rgb(136, 0, 0);
    top: 140px;    
    
}

.slogan-search ::placeholder{
    display: flex;


}
.slogan-first{
    position: absolute;
    left: 400px;
    width: 555px;
    font-size: 25px;
    background-color: rgb(249, 235, 237);
    border-radius: 3px;
    padding-left: 2px;
}
.slogan-second{
    position: absolute;    
    left: 560px;
    width: 220px;
    top: 40px;
    font-size: 20px;
    padding-left: 2px;
    background-color: rgb(249, 235, 237);
    border-radius: 3px;
}

.search-event{
    position: absolute;    
    left: 480px;
    top: 130px;
    width: 420px;
    height: 25px;
    background-color: rgb(249, 235, 237);
    border: none;
    border-radius: 3px;
}
.all-categories{
    position: absolute;
    left: 440px;
    top:130px ;
    background-color: rgb(249, 235, 237);
    text-decoration: none;
    color: rgb(24, 23, 23);
    width: 20px;
    /* height: 22px; */
    padding: 4px 5px;
    border-radius: 3px;    

}

.welcome-message{
    position: absolute;
    z-index: 2;
    left: 140px;
    top: 18px;
    font-weight: bold;
    color: rgb(51, 0, 103);
    background-color:rgb(128, 119, 161);
    /* text-decoration: underline; */

}
.default-profile{
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 30px;
}

.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event-div {
    border: 0.4px solid #000;
    padding: 10px;
    background-color: rgb(255, 236, 239);    
}

.photo{
    width: 280px; 
    height: 200px;
    overflow: hidden;
    margin-left: 20px;
}
.grid-div img {
max-width: 90%; 
margin-left: 20px;
height: auto;
display: block; 
}

.logo{
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.logo-image{
    width: 80px;
    height: 30px;
}

#event-image{
    position: relative;
    top: -50px;
    z-index: 0;
    filter: blur(1px);
    
    
}

/* Upone scrolling => */

.customer-navbar{
    position: fixed;
    background-color:lightpink;
    width: 100%;
    height: 50px;
    z-index: 10;
    top: 0;
}

.logo-2{
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.default-profile-2{
    position: absolute;
    right: 30px;
    top: 8px;
    z-index: 5;
}

.your-booking-2{
    position: absolute;
    right: 100px;
    top: 10px;
    text-decoration: none;
    border: 1.5px solid black;  
    border-radius: 3px;  
    padding: 5px 10px;
    color: rgb(51, 0, 255);
    font-weight: bold;
    z-index: 5;

}


.your-booking-2:active{
    color: white;
    background-color:rgb(51, 0, 255);
    
}

.welcome-message-2{
    background-color: rgb(229, 147, 160);
    position: absolute;
    z-index: 5;
}

#category-photo{
    width: 100%;
    height: auto;
}

.category-name{
    text-decoration: none;
    color:rgb(7, 71, 210);
    font-weight: bold;

}



/* CSS for Un authenticated == > */

.unauth-logo{
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 5;
}
.unauth-default-profile{
    position: absolute;
    right: 30px;
    top: 8px;
    z-index: 5;
}

.list-your-business{
    position: absolute;
    right: 100px;
    top: 10px;
    text-decoration: none;
    border: 1.5px solid black;    
    padding: 5px 10px;
    color: rgb(51, 0, 255);
    font-weight: bold;
    z-index: 5;
}






/* Upone scrolling for unauth => */


.unauth-navbar{
    position: fixed;
    background-color:lightpink;
    width: 100%;
    height: 50px;
    z-index: 10;
    top: 0;
}

.unauth-logo-2{
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 5;
}
.unauth-default-profile-2{
    position: absolute;
    right: 30px;
    top: 8px;
    z-index: 5;
}

.list-your-business{
    position: absolute;
    right: 100px;
    top: 10px;
    text-decoration: none;
    border: 1.5px solid black;    
    padding: 5px 10px;
    color: rgb(51, 0, 255);
    font-weight: bold;
    z-index: 5;
}



