asgiref==3.7.2
awscli==1.29.63
beautifulsoup4==4.12.2
boto3==1.28.63
botocore==1.31.63
certifi==2023.7.22
charset-normalizer==3.3.0
cloudinary==1.36.0
colorama==0.4.4
dj-database-url==2.1.0
Django==4.2.5
django-cleanup==8.0.0
django-cloudinary-storage==0.3.0
django-environ==0.11.2
django-livereload-server==0.4
django-phonenumber-field==7.1.0
django-storages==1.14.2
docutils==0.16
gunicorn==21.2.0
idna==3.4
jmespath==1.0.1
packaging==23.2
phonenumbers==8.13.20
Pillow==10.0.1
psycopg2-binary==2.9.9
pyasn1==0.5.0
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
rsa==4.7.2
s3transfer==0.7.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tornado==6.3.3
typing_extensions==4.8.0
urllib3==2.0.6
whitenoise==6.6.0
