
{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/change-password.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">
<div class="navbar-div">
{% include 'navbar.html' %}
</div>


<a href="{{request.META.HTTP_REFERER}}" class="go-back">            
    <img src="/static/images/back.png" alt="" width="40px"  >
</a>

<form action="" method="POST">
    {% csrf_token %}

    <h3>Change your password here..</h3>
    <div>Old password</div>
    {{password_form.old_password}}

    <div>{{errors.old_password}}</div>

    <div>New password</div>
    {{password_form.new_password1}}

    <div>Confirm password</div>
    {{password_form.new_password2}}

    <div>{{errors.new_password2}}</div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

<script src="{% static 'EventPlanner/js/change-password.js' %}"></script>

