{% extends 'customer/home.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}

    <h3>Change your password here..</h3>
    <div>Old password</div>
    {{password_form.old_password}}

    <div>{{errors.old_password}}</div>

    <div>New password</div>
    {{password_form.new_password1}}

    <div>Confirm password</div>
    {{password_form.new_password2}}

    <div>{{errors.new_password2}}</div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

{% endblock %}