{% extends 'customer/home.html' %}


{% block content %}
<h4>This is profile page</h4>


<form id="profile-form" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

{% if request.user.userprofile.user_type == 'is_event_planner' %}
    {% if request.user.userprofile.profile_picture %}
            <img src="{{UserProfileForm.instance.profile_picture.url}}" alt=""  width="100" height="100">               
            <div> {{UserProfileForm.profile_picture}}</div>            
    {% else %}
    <a href="/profile/">        
        <img id="default-profile" src="/static/images/No profile.jpeg" alt="" width="100" height="100">
    </a>
        <div> {{UserProfileForm.profile_picture}}</div>       
    {% endif %}
            <input type="hidden" value="" id="button-clicked" name="button-clicked">
            <input id="remove-profile" type="button" value="Remove profile">

{% endif %}
    
    <div>First name</div>
    <div>{{user_form.first_name}}</div>

    <div>Last name</div>
    <div>{{user_form.last_name}}</div>


    <div>Email</div>
    <div>{{user_form.email}}</div>


    <div class="hidden-div1">
        <div>{{UserProfileForm.user}}</div>
    </div>

    <div class="hidden-div2">
        <div>{{UserProfileForm.user_type}}</div>
    </div>

    {% if request.user.userprofile.user_type == 'is_event_planner' %}

        {% for field in UserProfileForm %}
            {% if field.name != 'profile_picture' %}
                <div>{{field.label_tag}}</div>
                <div>{{field}}</div>
            {% endif %}
        {% endfor %}

    {% endif %}

    <input type="submit" value="Submit">

</form>

<div>
    <a href="/change-password/">Change password</a>
</div>


<script>


document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("profile-form");
    const submitButton = document.getElementById("remove-profile");
    const buttonClicked = document.getElementById('button-clicked')
    

    submitButton.addEventListener("click", function () {
        // Manually trigger the form submission
        buttonClicked.value = 'clicked';        
        form.submit();   
             
    });

});

if (document.getElementById('default-profile').src === 'http://127.0.0.1:8000/static/images/No%20profile.jpeg'){

    document.getElementById('remove-profile').style.visibility = 'hidden';


}


</script>


{% endblock %}