{% extends 'customer/home.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/event-planner-info.css' %}">

<p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>

<div class="grid-div">
    <div>
        {% if vendor.userprofile.profile_picture %}
        <img src="{{vendor.userprofile.profile_picture.url}}" alt="" width="90" height="90">               
        {% else %}
            <img src="/static/images/No profile.jpeg" alt="" width="100" height="100">
        {% endif %}

        <h3>{{vendor.first_name}} {{vendor.last_name}}</h3>
        {% for field in user_profile_form %}
            {% if not field.name == 'profile_picture' and not field.name == 'vendor_images' %}
            <h5>{{field.label_tag}}</h5>
                <p>{{field.value}}</p>
                {% endif %}
        {% endfor %}
        
    </div>

    <div class="inner-grid-div">
        
            <div>
                <div>
                    {% for message in messages %}
                    {% if message.receiver.id == pk %}                    
                    <div><b>{{message.message}}</b> <br>({{message.created}})</div> 
                    <br>                   
                    {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{MessageForm.message}}
                        <input type="hidden" value="{{unique_token}}" name="unique-token">
                        <input type="submit" value="Send">
                    </form>           
                </div>
            </div>

            <div>
                
                    
                {% for sender,messages in received_dict.items %}
                    {% if vendor.username == sender.username %}
                        {% for message in messages %}
                            <div>{{message.message}} <br>({{message.created}})</div>                            
                            <br>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            </div>

    </div>

</div>



{{error}}

<script src="{% static 'js/event-planner-info.js' %}"></script>

{% endblock %}