{% extends 'customer/home.html' %}

{% block content %}

<style>
    .grid-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .inner-grid-div{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    #id_message{
        height: 20px;
    }
</style>

<div class="grid-div">
    <div>
        <h3>{{vendor.first_name}} {{vendor.last_name}}</h3>
        {% for field in user_profile_form %}
        <h5>{{field.label_tag}}</h5>
        <p>{{field.value}}</p>
        {% endfor %}
    </div>

    <div class="inner-grid-div">
        
            <div>
                <div>
                    {% for message in messages %}
                    {% if message.receiver.id == pk %}                    
                    <div>{{message.message}}</div>
                    {% endif %}
                    {% endfor %}
                </div>

                <div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{MessageForm.message}}
                        <input type="hidden" value="{{unique_token}}" name="unique-token">
                        <input type="submit" value="Send">
                    </form>           
                </div>
            </div>

            <div>
                Messages received
                    
                {% for sender,messages in received_dict.items %}
                    {% if vendor.username == sender.username %}
                        {% for message in messages %}
                            <div>{{message}}</div>
                        {% endfor %}
                    {% endif %}

                {% endfor %}
            </div>

    </div>

</div>

<br><br>

<hr>
<div>{{received_dict}}</div>

{{sent_dict}}
<hr>

{{error}}



{% endblock %}