{% extends 'navbar.html' %}


{% block content %}


<style>
    .gird-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid #000;
        padding: 10px;
    }

</style>

<h2>Your bookings..</h2>
{% for booking in bookings %}
<div>
    <div>
        <h4>Booked by</h4>
    </div>
    <div>{{booking.user.first_name}} {{booking.user.last_name}}</div>
    <div>
        <h4>Booking date and time</h4>
    </div>
    <div>{{booking.date}} {{booking.time}}</div>
    <div>
        <h4>Booking location</h4>
    </div>
    <div>{{booking.location}}</div>
</div>
<hr>
{% endfor %}

<div>


    <div>
        {% for sender,messages in received_dict.items %}
        <div>
            <h3>{{sender}}</h3>
        </div>
        <div class="gird-div">
            <div>
                {% for receiver,msgs in sent_dict.items %}
                    {% if receiver == sender %}
                        {% for msg in msgs %}
                        <div><b>{{msg}}</b></div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <form action="/create-message/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="message" placeholder="Type..">
                    <input type="hidden" name="receiver" value="{{sender}}">
                    <input type="submit" value="Send">
                </form>
            </div>

            <div>

                {% for message in messages %}
                <div>{{message}}</div>
                {% endfor %}

            </div>

        </div>
        {% endfor %}
    </div>


    {% endblock %}