{% extends 'customer/home.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/login-page.css' %}">

<div>
    <h4>This is navbar <a href="/sign-up-is_event_planner/">SignUp as Event Planner</a>
        <a href="/sign-up-is_customer/">SignUp as Customer</a>
    </h4>

</div>

<div class="login-form-div">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Enter username</p>
        <input type="text" name="username" placeholder="username" class="username">
        <p>Enter password</p>
        <input type="password" name="password" placeholder="password" class="password">
        <p>
            <input type="submit" value="Log in">
            <!-- <button><a href="/logout-E/">Logout</a></button> -->
        </p>
    </form>
</div>

<div class="validation-error-div">
    {% if validation_error %}
    <p>Username or Password is invalid!</p>
    {% endif %}
</div>

<script src="{% static 'js/login-page.js' %}"></script>

{% endblock %}