{% load static %}


<link rel="stylesheet" href="{% static 'EventPlanner/css/login-page.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">
<div class="navbar-div">
{% include 'navbar.html' %}
</div>

<div class="login-container">
    <div class="login-form-div">
        <form action="" method="POST">
            {% csrf_token %}
            <p>Enter username</p>
            <input type="text" name="username" placeholder="username" class="username">
            <p>Enter password</p>
            <input type="password" name="password" placeholder="password" class="password">
            <p>
                <input type="submit" value="Log in">                
            </p>
            <div>
                Need an account? <a href="/sign-up-customer/">Sign up</a>
            </div>
        </form>
    </div>

    <div class="validation-error-div">
        {% if validation_error %}
        <p>Username or Password is invalid!</p>
        {% endif %}
    </div>
</div>
<script src="{% static 'EventPlanner/js/login-page.js' %}"></script>