{% extends 'home.html' %}


{% block content %}
<h4>This is profile page</h4>

<form action="" method="POST">
    {% csrf_token %}

    <div>First name</div>
    <div>{{user_form.first_name}}</div>
    <div>Last name</div>
    <div>{{user_form.last_name}}</div>
    <div>Email</div>
    <div>{{user_form.email}}</div>

    <div class="hidden-div1">
        <div>{{UserProfileForm.user}}</div>
    </div>

    <div class="hidden-div2">
        <div>{{UserProfileForm.user_type}}</div>
    </div>

    {% if user_profile.user_type == 'is_event_planner' %}

    <div>Contact information</div>
    <div>{{UserProfileForm.contact_info}}</div>

    <div>company_name</div>
    <div>{{UserProfileForm.company_name}}</div>

    <div>website</div>
    <div>{{UserProfileForm.website}}</div>

    <div>bio</div>
    <div>{{UserProfileForm.bio}}</div>

    <div>location</div>
    <div>{{UserProfileForm.location}}</div>

    <div>service_offered</div>
    <div>{{UserProfileForm.service_offered}}</div>

    {% endif %}

    <input type="submit" value="Submit">

</form>

<div>
    <a href="/change-password/">Change password</a>
</div>

<script>
    const inputField1 = document.querySelector('.hidden-div1');
    inputField1.style.display = 'none';

    const inputField2 = document.querySelector('.hidden-div2');
    inputField2.style.display = 'none';
</script>
<hr>
{{errors}}

{% endblock %}