{% extends 'customer/home.html' %}

{% block content %}

<p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>

<h3>Your profile...</h3>

    
{% if user_profile.user_type == 'is_event_planner' %}
    {% if request.user.userprofile.profile_picture %}
    <img src="{{request.user.userprofile.profile_picture.url}}" alt="" width="100" height="100">               
    {% else %}
    <a href="/profile/">        
        <img src="/static/images/No profile.jpeg" alt="" width="100" height="100">
    </a>
    {% endif %}
{% endif %}


    <div><b>Name :</b></div>
    <div>{{request.user.first_name}} {{request.user.last_name}}</div>
    <div><b>Username:</b></div>
    <div>{{request.user.username}}</div>
    <div><b>Email address :</b></div>
    <div>{{request.user.email}}</div>

    {% if user_profile.user_type == 'is_event_planner' %}

        {% for fields in userprofile_form %}
            <div><b>{{fields.label_tag}}</b></div>
            <div>{{fields.value}}</div>
        {% endfor %}
    {% endif %}
    <div><b>Password</b></div>
    <div>.............</div>

    <div><a href="/edit-profile/">Edit</a></div>

    <div><a href="/logout/">Logout</a></div>

    <div><a href="/delete-account/">Delete acccount</a></div>


{% endblock %}