{% extends 'customer/home.html' %}

{% block content %}
<h3>Your profile...</h3>

    
{% if user_profile.user_type == 'is_event_planner' %}
    <!-- {% if request.user.userprofile.profile_picture %} -->
    <img src="{{request.user.userprofile.profile_picture.url}}" alt="">               
    <!-- {% else %}
        <img src="/static/images/No profile.jpeg" alt="">        
    {% endif %} -->
{% endif %}

<hr>
{{request.user.userprofile.profile_picture}}
<hr>

    <div><b>Name :</b></div>
    <div>{{request.user.first_name}} {{request.user.last_name}}</div>
    <div><b>Username:</b></div>
    <div>{{request.user.username}}</div>
    <div><b>Email address :</b></div>
    <div>{{request.user.email}}</div>

    {% if user_profile.user_type == 'is_event_planner' %}

        {% for fields in userprofile_form %}
            <div><b>{{fields.label_tag}}</b></div>
            <div>{{fields.value}}</div>
        {% endfor %}
    {% endif %}
    <div><b>Password</b></div>
    <div>.............</div>

    <div><a href="/edit-profile/">Edit</a></div>

    <div><a href="/logout/">Logout</a></div>

    <div><a href="/delete-account/">Delete acccount</a></div>


{% endblock %}