
{% load static %}
<title>Event Hub</title>
<link rel="stylesheet" href="{% static 'EventPlanner/css/sign-up.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">

<div class="navbar-div">
{% include 'navbar.html' %}
</div>

<div class="sign-up-form">

<div class="sign-up-div">

    <form action="" method="POST">
        {% csrf_token %}

        {% for field in signUpForm %}

        {{field.label_tag}}
        <p >{{field}}</p>

            {% if field.name == 'username' %}
                {{validation_error.username}}
            {% endif %}

            {% if field.name == 'password2' %}    
                {{validation_error.password2}}
            {% endif %}                
        {% endfor %}

        <div class="sign-up-button-div">
            <input type="submit" value="Sign Up" class="sign-up-button">
        </div> 
</div>
<div class="already-div">
        {% if user_type == 'is_customer' %}
        <h4>
            Already Signed up? <a href="/login/" class="sign-in">Sign in</a>
        </h4>
        {% else %}
        <h4>
            Already Signed up? <a href="/login/" class="sign-in">Sign in</a>
        </h4>
        {% endif %}

    </form>
</div>
</div>



<script src="{% static 'EventPlanner/js/sign-up.js' %}"></script>

