{% extends 'home.html' %}


{% block content %}

<style>

    body{
        padding-bottom: 1000px;
    }

    #id_first_name,
    #id_last_name,
    #id_email,
    #id_username,
    #id_password1,
    #id_password2 {
        width: 200px;
    }

    .form-div{

        display: flex;
        justify-content: center;
    }

    .sign-up-button-div{
        display: flex;
        justify-content: center;
    }


</style>

<div class="form-div">

    <form action="" method="POST">
        {% csrf_token %}

        {% for field in signUpForm %}

        <p>{{field.label_tag}}</p>
        <p class="{{fiels.label_tag}}">{{field}}</p>
        {{validation_error.field.label_tag}}

        {% endfor %}

        <div class="sign-up-button-div">
            <input type="submit" value="Sign Up" class="sign-up-button">
            </div> 

        {% if user_type == 'is_customer' %}
        <h4>
            Already Signed up? <a href="/login-C/">Sign in</a>
        </h4>
        {% else %}
        <h4>
            Already Signed up? <a href="/login-E/">Sign in</a>
        </h4>
        {% endif %}

    </form>

</div>

<hr>
{{errors}}

{% endblock %}