{% extends 'customer/home.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/sign-up.css' %}">

<div class="form-div">

    <form action="" method="POST">
        {% csrf_token %}

        {% for field in signUpForm %}

        <p>{{field.label_tag}}</p>
        <p class="{{fiels.label_tag}}">{{field}}</p>
        {{validation_error.field.label_tag}}

        {% endfor %}

        <div class="sign-up-button-div">
            <input type="submit" value="Sign Up" class="sign-up-button">
            </div> 

        {% if user_type == 'is_customer' %}
        <h4>
            Already Signed up? <a href="/login-C/">Sign in</a>
        </h4>
        {% else %}
        <h4>
            Already Signed up? <a href="/login-E/">Sign in</a>
        </h4>
        {% endif %}

    </form>

</div>

<hr>
{{errors}}

<script src="{% static 'js/sign-up.js' %}"></script>

{% endblock %}