
{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/venue-info.css' %}">

<div class="navbar-div">
    {% include 'navbar.html' %}
</div>

<p class="go-back"><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>

<h5>this is venue gallary</h5>

<div class="grid-div">
    <div>

        {% for field in venue_form %}
            {% if not field.name == 'venue_images' %}
            <div><b>{{field.label_tag}}</b></div>
            <div>{{field.value}}</div>
            {% endif %}
        {% endfor %}

    </div>

    <div>
        <div><b>Images</b></div>
    {% for image in images %}

    <img src="{{image.image.url}}" alt="">

    {% endfor %}
    </div>

</div>

<script src="{% static 'EventPlanner/js/venue-info.js' %}"></script>

