
{% load static %}

<link rel="stylesheet" href="{% static 'EventPlanner/css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'EventPlanner/css/venue-info.css' %}">

<div class="navbar-div">
    {% include 'navbar.html' %}
</div>

<a href="{{request.META.HTTP_REFERER}}" class="go-back">            
    <img src="/static/images/back.png" alt="" width="40px"  >
</a>


<div class="grid-div">
    <div class="venue-info-div">

        {% for field in venue_form %}
            {% if not field.name == 'venue_images' %}
            <div><b>{{field.label_tag}}</b></div>
            <div>{{field.value}}</div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="venue-image-div">
        
    {% for image in images %}

    <img src="{{image.image.url}}" alt="" width="400px">

    {% endfor %}
    </div>

</div>

<script src="{% static 'EventPlanner/js/venue-info.js' %}"></script>

