body{
    padding-bottom: 1000px;
}

#id_first_name,
#id_last_name,
#id_email,
#id_username,
#id_password1,
#id_password2 {
    width: 200px;
}

.form-div{

    display: flex;
    justify-content: center;
}

.sign-up-button-div{
    display: flex;
    justify-content: center;
}