<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventManagement</title>
</head>
<body>

    {% if not request.user.is_authenticated %}
    <h5>
        <a href="/sign-up-is_customer/">Create account </a>
        <a href="/login-C/">Sign in </a>
    </h5>

    <h5>
        <a href="/sign-up-is_event_planner/">Want to become Event planner</a>
        <a href="/login-E/">Sign in </a>
    </h5>

    {% else %}
        {% if request.user.userprofile.user_type == 'is_customer' %}
        <a href="/booked/">Your booking</a>
        <a href="/home-C/">Home</a>
        {% endif %}
        {% if request.user.userprofile.user_type == 'is_event_planner' %}
        <a href="/home-E/">Home</a>
        {% endif %}
        <a href="/profile/{{request.user.id}}/">Your profile</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        welocome to <b>{{request.user.first_name}}</b>
    {% endif %}

    {% block content %}
        <h3>This is block content</h3>
    {% endblock %}

</body>
</html>