<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventManagement</title>

    <style>

        
    </style>

    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="navbar-container">
        {% if not request.user.is_authenticated %}
        <div class="unauth-navbar">
            <h5>            
                <a href="/home-C/" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="" width="80" height="30" class="logo-image">
                </a>
                <!-- <a href="/sign-up-is_customer/" class="create-account navbar">Create account </a> -->
                <a href="/login/" class="default-profile-image">
                    <img src="{% static 'images/No profile.jpeg' %}" alt=""  width="35" height="35" >    
                </a>
            </h5>
                <a href="/sign-up-is_event_planner/" class="list-your-business">List your business</a>            
        </div>
        {% else %}

            {% if request.user.userprofile.user_type == 'is_customer' %}
                <div class="customer-navbar">
                    <a href="/home-C/" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="" width="90" height="50" class="logo-image">
                    </a>
                    <a href="/booked/" class="your-booking">Your bookings</a>    
                    <a href="/profile/" class="default-profile-image">
                        <img src="{% static 'images/No profile.jpeg' %}" alt="" width="35" height="35" >  
                    </a>
                </div>
            {% endif %}

            {% if request.user.userprofile.user_type == 'is_event_planner' %}
                <div class="vendor-navbar">
                    <a href="/home-E/" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="" width="90" height="50" class="logo-image">
                    </a>             
                    {% if request.user.userprofile.profile_picture %}            
                    <a href="/profile/" class="profile-image">        
                        <img src="{{request.user.userprofile.profile_picture.url}}" alt="" width="35" height="35" >
                    </a>
                    {% else %}      
                    <a href="/profile/" class="default-profile-image">        
                        <img src="{% static 'images/No profile.jpeg' %}" alt="" width="35" height="35" class="profile">
                    </a>                
                    {% endif %} 
                </div>    
            {% endif %}        

        {% endif %}

        {% if request.user.is_authenticated %}
        <span class="welcome-message">welocome to <b>{{request.user.first_name}}</b></span>
        {% endif %}

    </div>
    

</body>

</html>