.go-back{
    margin-top: 100px;
}

.grid-div{
    margin-top: 140px;
    width: fit-content;
    margin-left: 20px;
    background-color: rgb(255, 236, 239);   
    padding: 10px 10px 10px 20px;    border: 1px black;
    border-style: solid;
    width: 380px;
    height: fit-content;
}
.logout{
    margin-left: 22px;
    text-decoration: none;
    position: relative;
    top: 100px;
    border: 1px solid black;
    border-radius: 1.7px;    
    padding: 2px 2px;
    color: rgb(194, 0, 32);
    font-weight: bold;
}
.submit{
    background-color: white;
    color: rgb(194, 0, 32);
    border: 1px black;
    border-style: solid;
    width: 70px;
    height: 20px;
    font-weight: bold;
    border-radius: 2px;
}
.submit:hover{
    background-color: rgb(119, 91, 232);
    color: white;
    transition: 0.3s ease;
}
.old-password-error,.new-password-error{
    color: darkred;
}