body{
    overflow-x: hidden;
}

.parent-div{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.upload-a-event{
    position: relative;
    right: 105px;
}

.field-lable{
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.form-div{
    background-color: rgb(255, 236, 239);
    width: fit-content;
    padding: 10px;
}

.submit{
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    color:darkred;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    border-radius: 2px;
    padding: 2px 4px;
}
.submit:hover{
    background-color: darkred;
    color: white;
}