body{
    overflow-x: hidden;

}

.grid-div{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 80px;
}
.inner-grid-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    border: 1px black;
    border-style: solid;
    padding: 10px 10px 0px 10px;
    margin-top: 30px;
    height: 350px;
    
    background-color: rgb(255, 236, 239);
}
.sender-messages,.receiver-messages{
    overflow-y: auto;
}

#id_message{
    width: 250px;
    height: 20px;
}
.profile-image{
    position: relative;
    left: 0px;
    border-radius: 50%;
}
.vendor-info-div{
    background-color: rgb(255, 236, 239);   
    height: fit-content;
    width: 400px;
    padding: 10px 0px 10px 50px;
    margin-left: 20px;
}
.field-value{
    padding: 0;
}
.field-lable{
    font-weight: bold;
}

#id_message{
    width: 235px;
    height: 25px;
}
.send-button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1.7px;    
    padding: 2px 2px;
    color: rgb(194, 0, 32);
    font-weight: bold;
    margin-left: 2px;
    background-color: white;
}
.send-button:hover{
    color: white;
    background-color: blue;
    
}
.message{
    width: fit-content;
}
.sender-messages,.receiver-messages{
    border: 1px black;
    padding: 10px 10px 0px 10px;
    border-style: solid;
    background-color: white;
    height: 300px;
    
}
.sender-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 8px;
}
.profile{
    border-radius: 50%;

}
.portfolio-images{
    background-color: rgb(255, 236, 239);
    padding: 10px;
}

.form-div,.sender-name-div{
    height: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
}


.chat-slogan{
    position: relative;
    left: 695px;
    top: 98px;
    font-weight: bold;
}

.portfolio-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    margin-left: 20px;
    row-gap: 20px;
    column-gap: 20px;
}