.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inner-grid-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#id_message{
    height: 20px;
}

.go-back{
    margin-top: 100px;
}