.profile-div{
    margin-top: 100px;
    padding-left: 20px;
}

.grid-div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile-data-div{    
    border: 1px black;
    border-style: solid;
    position: relative;
    padding: 10px 10px 10px 20px;
    background-color: rgb(255, 236, 239);   
}
.delete-account{
    position: relative;
    top: 40px;
}
.edit{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.logout{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1.7px;    
    padding: 2px 2px;
    color: rgb(194, 0, 32);
    font-weight: bold;
    margin-left: 2px;
}
.logout:hover{
    color: white;
    background-color:rgb(119, 91, 232);
    transition: 0.3s ease;
}
.delete-account{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;    
    padding: 4px 4px;
    background-color: rgb(142, 20, 20);
    color: white;
    font-weight: bold;
}
.delete-account:hover{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 4px;
    color: rgb(142, 20, 20);
    border-radius: 2px;    
    background-color: white;
}
.delete-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.7px;    
    padding: 4px 4px;
    background-color: green;
    color: white;
    font-weight: bold;
}
.back:hover{
    color: green;
    background-color: white;
}
.confirm{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.7px;    
    padding: 4px 4px;
    background-color: rgb(142, 20, 20);
    color: white;
    font-weight: bold;
    position: relative;
    left: 30px;
}
.confirm:hover{
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 4px;
    color: rgb(142, 20, 20);
    border-radius: 2px;    
    background-color: white;

}